.content {
  display: flex;
  flex-wrap: wrap;
}
.postlist {
  display: flex;
  height: 250px;
  width: 70%;
  flex-wrap: wrap;
}

.postclass {
  margin-top: 10px;
}
.my-Card {
}
.my-Tag {
  margin: 5px;
}
.reaction {
  width: 100%;
  margin-top: 15px;
}
.create-post {
  color: white;
  font-size: 30px;
  width: 80%;
  margin: 10px auto;
}
.mesage {
  margin: 104px 400px;
}
.sidebar {
  height: max-content;
}
